.button {
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background-color: #2FB5FC;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.backButton {
  font-size: 14px;
  font-weight: 600;
  color: rgb(148, 163, 184);
  cursor: pointer;
}